<%= form_for @blog, html: { id: 'blog-form' } do |f| %>
  <div class="field">
    <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'The title of the blog' %>
  </div>
  <div style="margin-top: 13px;">
    <div id="epiceditor"></div>
    <%= f.text_area :body_md, id: "markdown-contents", style: 'display: none;' %>
    <%= f.text_area :body_html, id: "html-contents", style: 'display: none;' %>
  </div>
  <div style="margin-top: 13px;">
    <%= f.label :published_at %><br>
    <%= f.datetime_select :published_at, disabled: !@blog.is_published %>
  </div>
  <div style="margin: 13px 0; border-top: solid 1px #ccc; padding-top: 13px;">
    <div style="float: left;">
      <button type="button" class="btn btn-primary" id="publish"><i class="fa fa-upload"></i> Publish</button>
      <button type="button" class="btn btn-default" id="save-and-close">Save &amp; Close</button>
    </div>
    <div style="float: right;">
      <span id="save-state" style="margin-right: 5px; font-size: 0.9em; display: none;">Saving...</span>
      
      <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure you want to discard this blog?' }, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
  kweb.currentBlogUrl = '<%= blog_path(@blog) %>.json';
  kweb.setupEditor();
  kweb.setupAutomaticSaving();

  $('#publish').click(function(e) {
    kweb.save();
  });
  $('#save-and-close').click(function(e) {
    kweb.save(function() {
      window.location.href = '<%= blogs_path %>';
    });
  });
});
</script>