<div class="row">
  <div class="col-md-12">

    <h2 style="font-size: 27px;"><%= @blog.title %></h2>

<!-- TODO:

      <p>
      <strong>Published at:</strong>
      <%= @blog.published_at %>
    </p>

    <p>
      <strong>Views:</strong>
      <%= @blog.views %>
    </p>
  -->

    <div style="line-height: 33px; font-size: 16px;">
      <%= @blog.body_html.html_safe %>
    </div>

    <div style="margin-bottom: 10px;">
      <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %>
    </div>
  </div>
</div>