<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <table class="container">
            <tr>
              <td>

              <!-- content start -->
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <a href="<%= estate.url %>"><h2><%= estate.title %></h2></a>
                          <center>
                            <img width="260" height="180" src="<%= estate.img %>">
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                    <table class="twelve columns">
                      <tr>
                        <td class="panel">
                          <p>
                            <b>Verð:</b> <%= estate['Verð'] %> <br>
                            <b>Tegund:</b> <%= estate['Tegund'] %> <br>
                            <b>Stærð:</b> <%= estate['Stærð'] %><br>
                            <b>Herbergi:</b> <%= estate['Herbergi'] %>
                          </p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>