<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Hrafn Eiríksson | hrafn.eiriksson.is</title>

  <meta property="og:title" content="Hrafn Eiríksson | hrafn.eiriksson.is" />
  <meta property="og:description" content="Hrafn Eiriksson is a software engineer living in Reykjavik, Iceland." />
  <meta property="og:image" content="<%= asset_path 'krummi.jpg' %>" />
  <meta property="og:url" content="http://hrafn.eiriksson.is/" />

  <link rel="canonical" href="http://eiriksson.is/" />
  <meta name="description" content="Hrafn Eiriksson is a software engineer living in Reykjavik, Iceland.">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="me">
        <img id="gravatar" alt="Hrafn Eiriksson" src="<%= asset_path 'krummi.jpg' %>" />   
        <h1> 
          <a href="http://hrafn.eiriksson.is" title="a.k.a. krummi" rel="home">
            HRAFN EIRÍKSSON
          </a>
        </h1> 
        <span>Software engineer at <a href="http://www.oz.com">OZ</a>. Student at <a href="http://www.ru.is">Reykjavik University</a>.</span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%= yield %>
</div>

<!-- GA tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45997429-1', 'eiriksson.is');
  ga('send', 'pageview');
</script>
</body>

</html>